{% extends "base.html.twig" %}
{% block title %}Index{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
    {% for products in products %}
        <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ products }}</h5>
                <a href="#" class="btn btn-primary">Acheter</a>
            </div>
        </div>
        </div>

    {% endfor %}
        </div>
    </div>
{% endblock %}

